{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
  {{ range $key, $taxonomy := .Site.Taxonomies.categories }}
  <div class="page-group">
    <h2>{{ humanize $key }}</h2>
    <ul class="archive">
      {{ $problemsOfCategory := where $taxonomy.Pages ".Section" "==" "problems" }}
      {{ range $problemsOfCategory }}
      <li class="archive-item">
        <a class="item-link" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </li>
      {{ end }}
    </ul>
  </div>
  {{ end }}
{{ end }}
