#tag {
  margin-top: 15px;
}

.archive-year {
  margin-bottom: 15px;
  font-family: $font-sans;

  &:first-of-type {
    display: none;
  }
}

.page-group:not(:last-of-type) {
  margin-bottom: 30px;
}

.archive {
  li:last-child {
    border-bottom: 0;
  }

  > li {
    list-style-type: none;
    font-size: 16px;
    padding: 5px 0;
    border-bottom: 1px solid #efefef;
    transition: border-bottom-color 0.5s;
  }
}

.archive-item {
  border: none;

  .item-link {
    display: block;
    color: $color-gray01;

    transition: color 0.3s;
    font-weight: normal;
    padding-top: 4px;

    &:hover {
      color: $color-main;
    }

    @media not screen and (max-width: 600px),
      not screen and (max-width: 766px) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

html.dark {
  .archive > li {
    border-bottom-color: #373e47;
    transition: border-bottom-color 0.5s;
  }

  .archive-item .item-link {
    color: $dark-text;

    &:hover {
      color: $dark-link;
    }
  }
}
