#footer {
  border-top: 1px solid #efefef;
  transition: border-top-color 0.5s;
  padding: 15px 0;
  text-align: center;
  cursor: default;
  clear: both;

  #credit {
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 12px;
    color: #999;

    a {
      color: #555;
      transition: color 0.3s;

      &:hover {
        color: #222;
        text-decoration: underline;
      }
    }
  }

  #social {
    font-size: 18px;
    color: #999;

    a {
      color: $color-gray02;
      transition: color 0.3s;
      padding: 20px;

      @media screen and (max-width: 600px) {
        padding: 10px;
      }

      @media not screen and (max-width: 600px),
        not screen and (max-width: 766px) {
        &:hover {
          color: $color-gray01;
        }
      }
    }

    a[title="twitter"] {
      color: #2eb8e7;
    }

    a[title="github"] {
      color: #286da3 !important;
    }

    a[title="linkedin"] {
      color: #0077b5 !important;
    }

    a[title="gitlab"] {
      color: #292961 !important;
    }

    a[title="stackoverflow"],
    a[title="rss"] {
      color: #d85620 !important;
    }

    a[title="email"] {
      color: #f66 !important;
    }
  }
}

html.dark {
  #footer {
    border-top-color: #373e47;
    transition: border-top-color 0.5s;

    #social a {
      color: $dark-text;
    }
  }
}
