{{ define "title" }}
  {{ .Title }} · {{ .Site.Title }}
{{ end }}
{{ define "content" }}
<div class="page-group">
  <h1 id="concepts">Concepts</h1>
  {{ $concepts := where .Data.Pages.ByTitle "Params.note.kind" "concept" }}
  <ul class="archive">
    {{ range $concepts }}
    <li class="archive-item">
      <a class="item-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</div>

<div class="page-group">
  <h1 id="languages">Languages</h1>
  {{ $languages := where .Data.Pages.ByTitle "Params.note.kind" "language" }}
  <ul class="archive">
    {{ range $languages }}
    <li class="archive-item">
      <a class="item-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</div>

<div class="page-group">
  <h1 id="technologies">Technologies</h1>
  {{ $technologies := where .Data.Pages.ByTitle "Params.note.kind" "technology" }}
  <ul class="archive">
    {{ range $technologies }}
    <li class="archive-item">
      <a class="item-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
