<footer id="footer">
  <div id="social">
    <a href="https://www.linkedin.com/in/jorge-israel-p/" title="linkedin"><i class="fab fa-linkedin"></i></a>
    <span class="footer-separator">&middot;</span>
    <a href="https://stackoverflow.com/users/101090/jorge-israel-pena" title="stackoverflow"><i class="fab fa-stack-overflow"></i></a>
    <span class="footer-separator">&middot;</span>
    <a href="https://github.com/blaenk" title="github"><i class="fab fa-github-alt"></i></a>
    <span class="footer-separator">&middot;</span>
    <a href="mailto:jorge.israel.p@gmail.com" title="email"><i class="far fa-envelope"></i></a>
    <span class="footer-separator">&middot;</span>
    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<a title="rss" href="%s"><i class="fa fa-rss-square"></i></a>` .RelPermalink | safeHTML }}
    {{ else }}
      {{ if .GitInfo }}
        {{ $unixPath := replace .Path "\\" "/" }}
        <a title="rss" href="https://github.com/blaenk/site/commits/master/content/{{ $unixPath }}.atom"><i class="fa fa-rss-square"></i></a>
      {{ else }}
        <a title="rss" href="/index.xml"><i class="fa fa-rss-square"></i></a>
      {{ end }}
    {{ end -}}
  </div>
</footer>

<script src="https://unpkg.com/mermaid@8.5.2/dist/mermaid.min.js"></script>
<script>
  mermaid.initialize({
    startOnLoad:true,
    sequence: {
      mirrorActors: false
    }
  });
</script>
