{{ if or .Params.categories .Params.tags }}
<div class="meta">
  {{ with .Params.categories }}
  <div class="meta-component">
    <i class="fas fa-tag"></i>
    {{ delimit (apply (apply (sort .) "partial" "post-category-link" ".") "chomp" ".") ", " }}
  </div>
  {{ end }}
  {{ with .Params.tags }}
  <div class="meta-component">
    <i class="fas fa-hashtag"></i>
    {{ delimit (apply (apply (sort .) "partial" "post-category-link" ".") "chomp" ".") ", " }}
  </div>
  {{ end }}
</div>
{{ end }}
<div class="meta">
  <div class="meta-component">
    <i class="far fa-calendar-alt fa-fw"></i>
    {{ .Date.Format "January 2, 2006" }}
  </div>
  {{ if .GitInfo }}
  <div class="meta-component">
    <i class="fas fa-code-branch fa-fw"></i>
    <a href="https://github.com/blaenk/site/commit/{{ .GitInfo.AbbreviatedHash }}" title="{{ .GitInfo.Subject }}"
    class="git-commit">
      {{- .GitInfo.AbbreviatedHash -}}
    </a> &mdash;
    {{ .Lastmod.Format "January 2, 2006" }}
  </div>
  <div class="meta-component">
    <i class="fas fa-history"></i>
    {{ $unixPath := replace .Path "\\" "/" }}
    <a href="https://github.com/blaenk/site/commits/master/content/{{ $unixPath }}">History</a>
  </div>
  {{ end }}
</div>
